# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

flac/
*.flac
*.mp3

# vscode
.vscode
settings.json
launch.json

release/*

# Pyenv / Poetry
.python-version
poetry.lock

# pyinstaller
build/*
dist/*
*.spec

discogs-token

discogs_tag.ini
discogs_tag.log

*.log
